/* --- FONT --- */

@font-face {
  font-family: Gotham;
  src: url('../font/Gotham-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: none;
}

@font-face {
  font-family: Gotham;
  src: url('../font/Gotham-Medium.woff2') format('woff2');
  font-weight: bold;
  font-style: none;
}

@font-face {
  font-family: 'Material Icons';
  src: url('../font/materialicons-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* --- RESETS --- */

*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
}

html, body, div, header, main, form,
fieldset, legend, details, summary, label, input,
table, thead, tbody, tr, th, td,
h1, h2, h3, h4, p, ul, li, button, a, span, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}

div[hidden] { display: none }

a { text-decoration: none; }

a:matches(:link, :visited) { color: currentColor; }

input[type="text"] { user-select: text }

input:matches([type="checkbox"], [type="radio"]),
progress {
  appearance: none;
}

input:matches([type="checkbox"], [type="radio"]) {
  overflow: hidden;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

input:matches([type="checkbox"], [type="radio"])::after {
  display: inline-block;
  font: 400 1.125rem 'Material Icons';
}

input:matches([type="checkbox"], [type="radio"]):disabled::after {
  color: #ccc;
}

input[type="checkbox"]::after { content: 'check_box_outline_blank'; } 
input[type="checkbox"]:checked::after { content: 'check_box' }

input[type="radio"]::after { content: 'radio_button_unchecked'; } 
input[type="radio"]:checked::after { content: 'radio_button_checked'; }

input[list]::-webkit-calendar-picker-indicator { display: none; }


/* --- MAIN--- */

body {
  background: #eee;
  color: #4c4c4c;
  font: 300 16px Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4 {
  font: 600 1rem Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header > h1 {
  font-size: 4.45rem;
  line-height: 3.8rem;
  text-transform: uppercase;
}

h2 {
  font-size: 0.875rem;
  word-break: break-word;
}

input {
  background-color: transparent;
  color: #4c4c4c;
}

#root, header, main { width: 100%; }

header, main {
  max-width: 436px;
  min-width: 360px;
  margin: 20px auto;
}

header,
fieldset,
details,
form > div,
input[name="url"] {
  margin-bottom: 20px;
}


/* --- HEADER --- */

header {
  padding-left: 8px;
  border-left: 12px solid #4c4c4c;
}

header > svg {
  width: 20px;
  margin-right: 2px;
}

header > p { font-size: 0.9rem; }


/* --- FORM --- */

form { padding: 0 18px; }

label[for="fileName"] { font-weight: 600; }

input:matches([name="url"], [name="fileName"], [name="source"]) {
  display: block;
  width: 100%;
  padding: 3px 2px;
  border-bottom: 2px solid #4c4c4c;
  text-overflow: ellipsis;
}

input[name="fileName"]:invalid { border-color: #f00; }
input[name="fileName"]:invalid::placeholder { color: #f00; }

fieldset[name="fetcher"] { margin-bottom: 60px; }

form > div {
  display: inline-block;
  width: 100%;
}

.file-uploader, .loading, .error, .video-info {
  border: 2px solid #4c4c4c;
  border-radius: 5px;
}

.file-uploader, .loading, .video-info {
  min-height: 132px;
}

.loading, .error, .video-info, .progress {
  padding: 10px;
}

.file-uploader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  color: #7c7c7c;
  transition: background-color 150ms;
}

.file-uploader:matches(::before, ::after) {
  content: '';
  pointer-events: none;
  display: block;
  position: absolute;
  background: inherit;
}

.file-uploader::before {
  width: calc(100% + 4px);
  height: calc(100% - 50px);
}

.file-uploader::after {
  width: calc(100% - 50px);
  height: calc(100% + 4px);
}

fieldset:not(:disabled) > :matches(.drag-enter, .file-uploader:active) {
  background: #444;
  color: #eee;
}

.file-uploader > p,
input[type="file"] {
  z-index: 2
}

input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

@keyframes slide_up {
  0% { transform: translateY(138px) }
  100% { transform: translateY(0px) }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: top center;
  animation: slide_up 250ms 250ms backwards;
}

.error {
  position: relative;
  background-color: #ffb0b0;
}

.error > p { margin-top: 6px; }

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.video-info { font-size: 0; }

.video-info > img {
  width: 192px;
  margin-right: 10px;
}

.video-info > div {
  display: inline-block;
  width: calc(100% - 202px);
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
  line-height: 18px;
}

fieldset:disabled,
fieldset:disabled > :matches(input, input::placeholder, div) {
  color: #ccc;
}

fieldset:disabled > :matches(input, div) {
  border-color: #ccc;
}

.timecode {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0;
}

.timecode > input[type="text"] { width: 80px; }

.timecode input:disabled { color: #ccc; }

.timecode > label {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0;
}

details {
  padding: 10px 8px;
  border-radius: 5px;
  background-color: #e0e0e0;
}

summary, legend { font-weight: 600; }

details > fieldset { margin-bottom: 10px; }

details > fieldset:nth-of-type(-n+2) { margin-top: 5px; }
details > fieldset:nth-of-type(odd)  { margin-left: 17px; }
details > fieldset:nth-of-type(even) { margin-left: 20px; }

details > fieldset:not([name="source-overlay"]) {
  display: inline-block;
  width: calc((100% - 57px) / 2);
}

details > fieldset:not([name="source-overlay"]) > legend {
  margin-bottom: 5px;
}

fieldset[name="source-overlay"] { margin-right: 17px; }

input[name="source"] { margin-bottom: 5px; }

label {
  display: block;
  margin-bottom: 5px;
}

button {
  display: inline-block;
  background-color: #4c4c4c;
  color: #eee;
  border-radius: 5px;
  transition: background-color 250ms;
}

:not(td) > button { padding: 6px 20px; }

button:not(:disabled):hover { background-color: #7c7c7c; }

button:disabled { background-color: #ccc; }

button[type="submit"] { margin-right: 5px; }

.progress { font-size: 0.75rem; }

.progress > p { font-weight: 600; }

.progress > span {
  display: inline-block;
  max-width: 50%;
}

.progress > span:last-of-type { float: right; }

progress {
  width: 100%;
  height: 14px;
  margin: 2px 0;
  border: 2px solid #4c4c4c;
  border-radius: 2px;
}

::-webkit-progress-bar { background-color: #eee; }
::-webkit-progress-value { background-color: #4c4c4c; }

.completed { text-align: center; }

.completed > p:first-of-type { margin-bottom: 5px; }
.completed > p:last-of-type { margin-bottom: 20px; }

button[name="cancel"] {
  display: block;
  margin-top: 10px;
}

/* --- SCREEN RECORDER--- */

@keyframes blink {
  0%, 50% { background-color: #f00; }
  51%, 100% { background-color: #eee; }
}

.screen-record {
  text-align: center;
  margin-top: 60px;
  color: #7c7c7c;
}

button[name="record"] {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 10px auto;
  border-radius: 50%;
}

button[name="record"]::after {
  content: '';
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  width: 26px;
  height: 26px;
  border-radius: inherit;
  background-color: #eee;
}

button[name="record"].recording::after {
  animation: blink 1000ms infinite;
}

button[name="record"] ~ p {
  font-size: 10px;
  margin-top: 10px;
}


/* --- UPDATER --- */

.updater {
  margin-bottom: 20px;
  text-align: center;
  color: #7c7c7c;
}

.loading ~ .updater { display: none; }

.updater > progress {
  width: 250px;
  border-color: #7c7c7c;
}

.updater > ::-webkit-progress-value { background-color: #7c7c7c; }

.updater > button { margin-top: 10px; }

/* --- MISC --- */

.monospace {
  font: 600 1em 'Courier New', Courier, monospace;
  vertical-align: middle;
}

body:not(.accessable) :focus { outline: none; }

::selection {
  background: hsl(17, 100%, 50%);
  color: #fff;
}